@tailwind base;
@tailwind components;
@tailwind utilities;

/* .invalid-feedback {
    @apply text-red-600 mt-1 text-sm;
} */

.invalid-feedback {
    font-size: 0.8rem !important;
    color: rgb(212, 37, 37);
}

.snackbar {
    @apply flex justify-between shadow-md rounded-md border-l-4 p-3;
}

.snackbar-success {
    @apply border-green-900 bg-green-500 text-green-800;
}

.snackbar-warning {
    @apply border-amber-900 bg-amber-500 text-amber-800;
}

.snackbar-info {
    @apply border-sky-900 bg-sky-500 text-sky-800;
}

.snackbar-danger {
    @apply border-rose-900 bg-rose-500 text-rose-800;
}

/* #res>div {
    background-color: #2a303c
} */

.menu-active {
    @apply border-slate-800 border-t-2;
}

.menu-active > svg {
    @apply text-slate-800;
}

.menu-active > span {
    @apply text-slate-800;
}
